@tailwind base;
@tailwind components;
@tailwind utilities;



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu';
}

h1 {
    font-size: 3.75rem;
    line-height: 1;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}


article {
    margin-top: 1em;
    margin-bottom: 1em;
}

.h25 {
    height: 25vh;
}


.h50 {
    height: 50vh;
}

.h75 {
    height: 75vh;
}